@font-face {
  font-family: Lora;
  font-style: normal;
  font-weight: 400 700;
  src: url(../fonts/Lora[wght].woff2) format("woff2-variations");
}

@font-face {
  font-family: Lora-Italic;
  font-style: italic;
  font-weight: 400 700;
  src: url(../fonts/Lora-Italic[wght].woff2) format("woff2-variations");
}

@font-face {
  font-family: Public Sans VF;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100 900;
  src: url(../fonts/PublicSans[wght].ttf) format("truetype-variations");
}

@font-face {
  font-family: Public Sans VF;
  font-style: italic;
  font-weight: 100 900;
  src: url(../fonts/PublicSans-Italic[wght].ttf) format("truetype-variations");
}

em {
  font-style: italic;
}

@font-face {
  font-family: Martian Mono;
  font-weight: 100 800;
  src: url(../fonts/MartianMono-VariableFont_wdthwght.ttf)
    format("truetype-variations");
}

@font-face {
  font-family: EBGaramondSC08;
  src: url(../fonts/EBGaramondSC08-Regular.woff) format("woff");
}

@font-face {
  font-family: EBGaramondSC12;
  src: url(../fonts/EBGaramondSC12-Regular.woff) format("truetype-variations");
}

:root {
  --s-3: clamp(0.7rem, calc(0.7rem + 0.03vw), 0.72rem);
  --s-2: clamp(0.79rem, calc(0.77rem + 0.12vw), 0.87rem);
  --s-1: clamp(0.89rem, calc(0.84rem + 0.23vw), 1.04rem);
  --s0: clamp(1rem, calc(0.93rem + 0.37vw), 1.25rem);
  --s1: clamp(1.13rem, calc(1.01rem + 0.56vw), 1.5rem);
  --s2: clamp(1.27rem, calc(1.11rem + 0.79vw), 1.8rem);
  --s3: clamp(1.42rem, calc(1.21rem + 1.09vw), 2.16rem);
  --s4: clamp(1.6rem, calc(1.31rem + 1.47vw), 2.59rem);
  --s5: clamp(1.8rem, calc(1.41rem + 1.94vw), 3.11rem);
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
  --space-2xs: clamp(0.5rem, calc(0.46rem + 0.19vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.69rem + 0.28vw), 0.94rem);
  --space-s: clamp(1rem, calc(0.93rem + 0.37vw), 1.25rem);
  --space-m: clamp(1.5rem, calc(1.39rem + 0.56vw), 1.88rem);
  --space-l: clamp(2rem, calc(1.85rem + 0.74vw), 2.5rem);
  --space-xl: clamp(3rem, calc(2.78rem + 1.11vw), 3.75rem);
  --space-2xl: clamp(4rem, calc(3.7rem + 1.48vw), 5rem);
  --space-3xl: clamp(6rem, calc(5.56rem + 2.22vw), 7.5rem);
  --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.56vw), 0.63rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.37rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.6rem + 0.74vw), 1.25rem);
  --space-s-m: clamp(1rem, calc(0.74rem + 1.3vw), 1.88rem);
  --space-m-l: clamp(1.5rem, calc(1.2rem + 1.48vw), 2.5rem);
  --space-l-xl: clamp(2rem, calc(1.48rem + 2.59vw), 3.75rem);
  --space-xl-2xl: clamp(3rem, calc(2.41rem + 2.96vw), 5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.96rem + 5.19vw), 7.5rem);
  --space-s-xl: clamp(1rem, calc(0.19rem + 4.07vw), 3.75rem);
  --space-3xs-s: clamp(0.25rem, calc(-0.05rem + 1.48vw), 1.25rem);
}

*,
:before,
:after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  text-rendering: optimizespeed;
  min-height: 100vh;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  :before,
  :after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

:root {
  --hue-primary: 70;
  --hue-secondary: 350;
  --white: 99.5% 0.002 var(--hue-primary);
  --brown: 40% 0.05 var(--hue-primary);
  --grey: 72% 0.01 var(--hue-primary);
  --text: 30% 0.075 var(--hue-primary);
  --brown-dark: 28% 0.1 var(--hue-primary);
  --brown-light: 52.5% 0.06 var(--hue-primary);
  --brown-lightest: 75% 0.04 var(--hue-primary);
  --links: 54% 0.14 var(--hue-secondary);
  --links-hover: rgba(168, 71, 122, 0.36);
  --links-active: rgba(168, 71, 122, 0.42);
  --red: 64% 0.04 359.8;
  --border-r-s: 4px;
  --border-r-l: 8px;
  --box-shadow-single: 0 0 2px 0.2px oklch(var(--brown-dark));
  --box-shadow-single-inset: inset 0 0 2px 0.4px oklch(var(--brown-dark));
  --box-shadow-link: 0 0 1.5px #593f4b;
  --box-shadow-link-hover: 0 0 2px #230e19;
  --transition-standard: background-color 0.5s
      cubic-bezier(0.645, 0.045, 0.355, 1),
    color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1),
    box-shadow 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition-svg: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition-text-decoration: text-decoration-line 0.5s
    cubic-bezier(0.645, 0.045, 0.355, 1);
  --fonts-standard: "Public Sans VF", seravek, "Gill Sans Nova", ubuntu, calibri,
    "DejaVu Sans", source-sans-pro, sans-serif;
  background-color: oklch(var(--white));
  color: oklch(var(--text));
  font-family: var(--fonts-standard);
  font-feature-settings: "tnum" 1;
  -webkit-tap-highlight-color: var(--links-active);
  font-weight: 400;
  line-height: calc(12px + 2ex);
}

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --links-hover: rgba(168, 71, 122, 0.36);
    --links-active: rgba(168, 71, 122, 0.42);
    --box-shadow-link: 0 0 1.5px #593f4b;
    --box-shadow-link-hover: 0 0 2px #230e19;
  }

  @supports (color: color(display-p3 0 0 0)) {
    :root {
      --links-hover: color(display-p3 0.611939 0.300555 0.471223/.36);
      --links-active: color(display-p3 0.611939 0.300555 0.471223/.42);
      --box-shadow-link: 0 0 1.5px color(display-p3 0.332324 0.250876 0.290828);
      --box-shadow-link-hover: 0 0 2px
        color(display-p3 0.127097 0.0585196 0.0945995);
    }
  }
}

@supports (color: lab(0% 0 0)) {
  :root {
    --links-hover: rgba(168, 71, 122, 0.36);
    --links-active: rgba(168, 71, 122, 0.42);
    --box-shadow-link: 0 0 1.5px #593f4b;
    --box-shadow-link-hover: 0 0 2px #230e19;
  }

  @supports (color: color(display-p3 0 0 0)) {
    :root {
      --links-hover: color(display-p3 0.611939 0.300555 0.471222/.36);
      --links-active: color(display-p3 0.611939 0.300555 0.471222/.42);
      --box-shadow-link: 0 0 1.5px color(display-p3 0.332324 0.250877 0.290829);
      --box-shadow-link-hover: 0 0 2px
        color(display-p3 0.127097 0.0585196 0.0945995);
    }
  }
  @supports (color: lab(0% 0 0)) {
    :root {
      --links-hover: lab(44.7542% 44.7722 -8.66547/0.36);
      --links-active: lab(44.7542% 44.7722 -8.66547/0.42);
      --box-shadow-link: 0 0 1.5px lab(29.8658% 13.1125 -2.49875);
      --box-shadow-link-hover: 0 0 2px lab(6.73604% 12.5871 -2.35794);
    }
  }
}

p {
  color: #422700 !important;
  color: color(display-p3 0.253359 0.152335 -0.0013359) !important;
  color: lab(18.6001% 12.8215 30.7332) !important;
}

main {
  width: max(16rem, min(90vw, 108rem));
}

body {
  font-size: var(--s0);
}

.center {
  box-sizing: content-box;
  padding-inline: var(--space-s-xl);
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

nav li {
  font-size: var(--s-1);
}

article:not(.featured):not(.full-post),
blockquote {
  max-width: 40ch;
}

.meta {
  color: #91877c;
  color: color(display-p3 0.562936 0.531969 0.492663);
  color: lab(57.0842% 2.419 7.2935);
  font-size: var(--s-1);
  line-height: 1.2;
}

.featured {
  box-sizing: content-box;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

img {
  border-radius: var(--border-r-s);
  -webkit-filter: drop-shadow(0 0 1px oklch(var(--brown-dark)));
  filter: drop-shadow(0 0 1px oklch(var(--brown-dark)));
}

.featured-image {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
}

.featured-image figcaption {
  text-align: center;
}

.featured .read-more {
  padding: var(--space-3xs) var(--space-xs);
  background-color: oklch(var(--links) / 27%);
  box-shadow: var(--box-shadow-link);
  color: oklch(var(--text));
  font-size: var(--s-1);
  transition: var(--transition-standard);
  justify-content: center;
  align-self: center;
  font-weight: 500;
  display: inline-flex;
}

.featured .read-more:hover {
  background-color: var(--links-hover);
  box-shadow: var(--box-shadow-link-hover);
}

.featured
  .read-more
  span:not(:lang(ae)):not(:lang(ar)):not(:lang(arc)):not(:lang(bcc)):not(
    :lang(bqi)
  ):not(:lang(ckb)):not(:lang(dv)):not(:lang(fa)):not(:lang(glk)):not(
    :lang(he)
  ):not(:lang(ku)):not(:lang(mzn)):not(:lang(nqo)):not(:lang(pnb)):not(
    :lang(ps)
  ):not(:lang(sd)):not(:lang(ug)):not(:lang(ur)):not(:lang(yi)) {
  margin-right: var(--space-s);
}

.featured
  .read-more
  span:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-left: var(--space-s);
}

.featured
  .read-more
  span:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-left: var(--space-s);
}

.featured
  .read-more
  span:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-left: var(--space-s);
}

.featured .read-more svg {
  width: var(--s0);
  height: var(--s0);
  color: oklch(var(--text));
  align-self: center;
}

.space-s-last > :last-child {
  margin-bottom: var(--space-l);
}

.space-s-first > :first-child {
  margin-bottom: var(--space-s);
}

.cluster-header {
  justify-content: space-between;
  align-items: baseline;
  gap: var(--space-s) var(--space-l);
  flex-wrap: wrap;
  display: flex;
}

.cluster {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex;
}

.with-sidebar {
  gap: var(--space-l) var(--space-2xl);
  flex-wrap: wrap;
  display: flex;
}

.with-sidebar > :first-child {
  flex-grow: 999;
  flex-basis: 40ch;
  max-width: 40ch;
}

.with-sidebar > :last-child {
  flex-grow: 1;
  flex-basis: 20rem;
}

.stack-2xl {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.stack-2xl > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-2xl > * + * {
  margin-top: var(--space-2xl);
}

.stack {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.stack > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack > * + * {
  margin-top: var(--space-xl);
}

.stack-s {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.stack-s > *,
.stack-s .meta {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-s > * + *,
.stack > h1 + * {
  margin-top: var(--space-s);
}

.stack-3xs {
  flex-direction: column;
  justify-content: flex-start;
  display: flex;
}

.stack-3xs > * {
  margin-top: 0;
  margin-bottom: 0;
}

.stack-3xs > * + * {
  margin-top: var(--space-3xs);
}

.stack-ul {
  flex-direction: column;
  display: flex;
}

.stack-ul * + * {
  margin-top: var(--space-s);
}

.switcher {
  gap: var(--space-s) var(--space-xl);
  flex-wrap: wrap;
  display: flex;
}

.switcher > * {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  flex-grow: 1;
  flex-basis: calc(47952rem - 99900%);
  min-width: fit-content;
}

.switcher > :nth-last-child(n + 7),
.switcher > :nth-last-child(n + 7) ~ * {
  flex-basis: 100%;
}

.switcher-feed {
  gap: var(--space-xl) var(--space-2xl);
  flex-wrap: wrap;
  display: flex;
}

.switcher-feed > * {
  flex-grow: 1;
  flex-basis: calc(99900rem - 99900%);
}

.switcher-feed > :nth-last-child(n + 8),
.switcher-feed > :nth-last-child(n + 8) ~ * {
  flex-basis: 100%;
}

.switcher-feed h1[role="recent-posts"] {
  box-shadow: 0 0.07em oklch(var(--grey));
  margin-bottom: calc(-1 * var(--space-s));
  min-width: 100%;
}

.switcher-s {
  gap: var(--space-3xs) var(--space-s);
  flex-wrap: wrap;
  display: flex;
}

.switcher-s > * {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  flex-basis: calc(4995rem - 99900%);
  min-width: fit-content;
}

ul.switcher-s {
  line-height: 1;
}

ul.switcher-s > :last-child {
  margin-bottom: var(--space-3xs);
}

a {
  border-radius: var(--border-r-s);
  color: currentColor;
  transition: var(--transition-standard);
  text-decoration: none;
}

nav a,
p a {
  border-radius: var(--border-r-s);
  color: oklch(var(--links));
}

nav a:hover,
p > a:hover {
  background-color: var(--links-hover);
  color: oklch(var(--text));
}

nav a:active,
p > a:active {
  background-color: var(--links-active);
  color: oklch(var(--text));
}

li:has(.is-active) {
  align-content: center;
  justify-content: center;
}

.is-active {
  background-color: var(--links-hover);
  color: oklch(var(--text));
}

.found-content {
  color: oklch(var(--links));
}

.missing-content {
  color: oklch(var(--red));
}

h1[role="recent-posts"] {
  color: #91877c;
  color: color(display-p3 0.562936 0.531969 0.492663);
  color: lab(57.0842% 2.419 7.2935);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav li {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: oklch(var(--brown));
  letter-spacing: -0.015em;
  font-weight: 500;
}

h1 {
  font-size: var(--s2);
}

header h1 {
  margin-top: var(--space-s);
  font-size: var(--s4);
  font-weight: 600;
}

h1 a:hover,
h2 a:hover {
  background-color: var(--links-hover);
}

h2,
h3 {
  font-size: var(--s1);
}

h4,
h5,
h6 {
  font-size: var(--s0);
}

p {
  color: oklch(var(--text));
  font-family: Lora, serif;
  font-size: var(--s0);
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  font-weight: 425;
  line-height: calc(8px + 2ex);
}

.full-post p,
.full-post Z .footnotes hr {
  max-width: 66ch;
  margin-left: auto;
  margin-right: auto;
}

sup {
  border-radius: var(--border-r-s);
  font-family: Lora, var(--fonts-standard);
  font-size: var(--s-2);
  transition: var(--transition-standard);
  vertical-align: 0.558em;
  font-weight: 700;
  line-height: 0;
}

sup:hover {
  background-color: var(--links-hover);
  color: oklch(var(--brown));
}

sup:hover a {
  color: oklch(var(--brown));
}

.footnotes > * + * {
  margin-top: var(--space-s);
}

.footnotes hr {
  color: oklch(var(--grey));
  margin-top: var(--space-xs);
  border-top-style: solid;
  border-top-width: 0.07em;
}

.footnote-backref {
  color: oklch(var(--links));
  text-decoration: none;
}

.footnotes ol {
  font-size: var(--s-1);
  list-style-type: decimal;
  list-style-position: inside;
}

.footnotes ol a {
  font-size: var(--s-1);
}

[role="hashtags"] {
  color: oklch(var(--links));
  font-size: var(--s-2);
  letter-spacing: 0.015em;
  text-transform: uppercase;
  font-weight: 600;
}

[role="hashtags"]:hover {
  border-radius: var(--border-r-s);
  background-color: var(--links-hover);
  color: oklch(var(--brown));
}

blockquote p {
  font-size: var(--s-1);
}

blockquote
  p:not(:lang(ae)):not(:lang(ar)):not(:lang(arc)):not(:lang(bcc)):not(
    :lang(bqi)
  ):not(:lang(ckb)):not(:lang(dv)):not(:lang(fa)):not(:lang(glk)):not(
    :lang(he)
  ):not(:lang(ku)):not(:lang(mzn)):not(:lang(nqo)):not(:lang(pnb)):not(
    :lang(ps)
  ):not(:lang(sd)):not(:lang(ug)):not(:lang(ur)):not(:lang(yi)) {
  margin-left: var(--space-3xs);
}

blockquote
  p:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-right: var(--space-3xs);
}

blockquote
  p:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-right: var(--space-3xs);
}

blockquote
  p:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-right: var(--space-3xs);
}

blockquote {
  padding: var(--space-3xs-s);
  border-radius: var(--border-r-s);
  border-left: oklch(var(--links) / 72%) 3px solid;
  background-color: oklch(var(--links) / 18%);
  align-self: center;
  max-width: 90%;
}

.id:hover:after {
  content: attr(aria-label);
}

figcaption {
  color: #91877c;
  color: color(display-p3 0.562936 0.531969 0.492663);
  color: lab(57.0842% 2.419 7.2935);
  font-size: var(--s-1);
  font-style: italic;
}

ul:not(:lang(ae)):not(:lang(ar)):not(:lang(arc)):not(:lang(bcc)):not(
    :lang(bqi)
  ):not(:lang(ckb)):not(:lang(dv)):not(:lang(fa)):not(:lang(glk)):not(
    :lang(he)
  ):not(:lang(ku)):not(:lang(mzn)):not(:lang(nqo)):not(:lang(pnb)):not(
    :lang(ps)
  ):not(:lang(sd)):not(:lang(ug)):not(:lang(ur)):not(:lang(yi)),
ol:not(:lang(ae)):not(:lang(ar)):not(:lang(arc)):not(:lang(bcc)):not(
    :lang(bqi)
  ):not(:lang(ckb)):not(:lang(dv)):not(:lang(fa)):not(:lang(glk)):not(
    :lang(he)
  ):not(:lang(ku)):not(:lang(mzn)):not(:lang(nqo)):not(:lang(pnb)):not(
    :lang(ps)
  ):not(:lang(sd)):not(:lang(ug)):not(:lang(ur)):not(:lang(yi)) {
  padding-left: 0;
}

ul:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  padding-right: 0;
}

ul:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  padding-right: 0;
}

ul:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  padding-right: 0;
}

ol:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  padding-right: 0;
}

ol:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  padding-right: 0;
}

ol:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  padding-right: 0;
}

.meta :-webkit-any(ol, ul) {
  list-style-position: inside;
}

.meta :-webkit-any(ol, ul) {
  list-style-position: inside;
}

.meta :is(ol, ul) {
  list-style-position: inside;
}

.meta :is(ol li) {
  list-style-type: lower-alpha;
}

.meta :is(ul li) {
  list-style-type: disc;
}

ol::marker {
  color: oklch(var(--links));
}

li::marker {
  color: oklch(var(--links));
}

ol
  li
  ul
  li:not(:lang(ae)):not(:lang(ar)):not(:lang(arc)):not(:lang(bcc)):not(
    :lang(bqi)
  ):not(:lang(ckb)):not(:lang(dv)):not(:lang(fa)):not(:lang(glk)):not(
    :lang(he)
  ):not(:lang(ku)):not(:lang(mzn)):not(:lang(nqo)):not(:lang(pnb)):not(
    :lang(ps)
  ):not(:lang(sd)):not(:lang(ug)):not(:lang(ur)):not(:lang(yi)) {
  margin-left: 2em;
}

ol
  li
  ul
  li:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-right: 2em;
}

ol
  li
  ul
  li:-webkit-any(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-right: 2em;
}

ol
  li
  ul
  li:is(
    :lang(ae),
    :lang(ar),
    :lang(arc),
    :lang(bcc),
    :lang(bqi),
    :lang(ckb),
    :lang(dv),
    :lang(fa),
    :lang(glk),
    :lang(he),
    :lang(ku),
    :lang(mzn),
    :lang(nqo),
    :lang(pnb),
    :lang(ps),
    :lang(sd),
    :lang(ug),
    :lang(ur),
    :lang(yi)
  ) {
  margin-right: 2em;
}

.breadcrumb {
  flex-wrap: wrap;
  align-items: baseline;
  list-style: none;
  display: flex;
}

.breadcrumb li {
  color: oklch(var(--text) / 99%);
  font-size: var(--s-2);
  text-transform: uppercase;
  white-space: nowrap;
  font-weight: 600;
  display: inline;
}

.breadcrumb li + li:before {
  content: "/";
  padding: 0.3rem;
}

nav ul {
  gap: var(--space-s);
}

nav a {
  font-weight: 600;
}

nav {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
}
