@font-face {
  font-family: Public Sans VF;
  font-stretch: 100%;
  font-style: normal;
  font-weight: 100 900;
  src: url(../fonts/PublicSans[wght].ttf) format("truetype-variations"); }

@font-face {
  font-family: Public Sans VF;
  font-style: italic;
  font-weight: 100 900;
  src: url(../fonts/PublicSans-Italic[wght].ttf) format("truetype-variations"); }

em {
  font-style: italic; }

@font-face {
  font-family: Martian Mono;
  font-weight: 100 800;
  src: url(../fonts/MartianMono-VariableFont_wdth,wght.ttf) format("truetype-variations"); }

@font-face {
  font-family: EBGaramondSC08;
  src: url(../fonts/EBGaramondSC08-Regular.woff) format("woff"); }

@font-face {
  font-family: EBGaramondSC12;
  src: url(../fonts/EBGaramondSC12-Regular.woff) format("truetype-variations"); }

:root {
  --s-3:clamp(.7rem,calc(.67rem + .14vw),.8rem);
  --s-2:clamp(.79rem,calc(.74rem + .24vw),.96rem);
  --s-1:clamp(.89rem,calc(.81rem + .38vw),1.15rem);
  --s0:clamp(1rem,calc(.89rem + .56vw),1.38rem);
  --s1:clamp(1.13rem,calc(.97rem + .78vw),1.65rem);
  --s2:clamp(1.27rem,calc(1.05rem + 1.06vw),1.98rem);
  --s3:clamp(1.42rem,calc(1.14rem + 1.41vw),2.38rem);
  --s4:clamp(1.6rem,calc(1.23rem + 1.85vw),2.85rem);
  --space-3xs:clamp(.25rem,calc(.21rem + .19vw),.38rem);
  --space-2xs:clamp(.5rem,calc(.44rem + .28vw),.69rem);
  --space-xs:clamp(.75rem,calc(.66rem + .46vw),1.06rem);
  --space-s:clamp(1rem,calc(.89rem + .56vw),1.38rem);
  --space-m:clamp(1.5rem,calc(1.33rem + .83vw),2.06rem);
  --space-l:clamp(2rem,calc(1.78rem + 1.11vw),2.75rem);
  --space-xl:clamp(3rem,calc(2.67rem + 1.67vw),4.13rem);
  --space-2xl:clamp(4rem,calc(3.56rem + 2.22vw),5.5rem);
  --space-3xl:clamp(6rem,calc(5.33rem + 3.33vw),8.25rem);
  --space-3xs-2xs:clamp(.25rem,calc(.12rem + .65vw),.69rem);
  --space-2xs-xs:clamp(.5rem,calc(.33rem + .83vw),1.06rem);
  --space-xs-s:clamp(.75rem,calc(.56rem + .93vw),1.38rem);
  --space-s-m:clamp(1rem,calc(.69rem + 1.57vw),2.06rem);
  --space-m-l:clamp(1.5rem,calc(1.13rem + 1.85vw),2.75rem);
  --space-l-xl:clamp(2rem,calc(1.37rem + 3.15vw),4.13rem);
  --space-xl-2xl:clamp(3rem,calc(2.26rem + 3.7vw),5.5rem);
  --space-2xl-3xl:clamp(4rem,calc(2.74rem + 6.3vw),8.25rem);
  --space-s-xl:clamp(1rem,calc(.07rem + 4.63vw),4.13rem);
  --space-3xs-s:clamp(.25rem,calc(-.08rem + 1.67vw),1.38rem); }

*, :before, :after {
  box-sizing: border-box; }

* {
  margin: 0; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

html:focus-within {
  scroll-behavior: smooth; }

body {
  min-height: 100vh;
  text-rendering: optimizespeed; }

img, picture, video, canvas, svg {
  max-width: 100%;
  display: block; }

input, button, textarea, select {
  font: inherit; }

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word; }

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto; }
  *, :before, :after {
    scroll-behavior: auto !important;
    transition-duration: 0.01ms !important;
    -webkit-animation-duration: 0.01ms !important;
    animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important; } }

:root {
  --white:#fbfaf9;
  --brown:#5c452c;
  --grey:#a8a4a0;
  --text:rgba(110,100,90,.99);
  --brown-dark:#3e290f;
  --brown-light:#826444;
  --brown-lightest:#bfaa93;
  --links:#7f937c;
  --red:#a2828b;
  --border-r-s:4px;
  --border-r-l:8px;
  --border-normal:1px solid rgba(66,51,33,.6);
  --box-shadow-single:0 0 2px .4px oklch(var(--brown-dark));
  --box-shadow-single-inset:inset 0 0 2px .4px oklch(var(--brown-dark));
  --box-shadow-link:0 0 3px .4px #000;
  --box-shadow-link-hover:inset 0 0 2px 1px #000,inset 0 0 4px 1px #000,inset 0 0 8px 1px #000;
  --box-shadow-navbar:0 0 1px .2px #070200;
  --box-shadow-navbar-hover:inset 0 0 2px 1px #000,inset 0 0 4px 1px #000,inset 0 0 8px 1px #000;
  --transition-standard:.5s cubic-bezier(.645,.045,.355,1);
  --fonts-standard:"Public Sans VF",seravek,"Gill Sans Nova",ubuntu,calibri,"DejaVu Sans",source-sans-pro,sans-serif;
  font-family: var(--fonts-standard);
  font-weight: 400;
  line-height: 1.6; }

@supports (color: color(display-p3 0 0 0)) {
  :root {
    --white:color(display-p3 .983275 .979675 .975393);
    --brown:color(display-p3 .348537 .275319 .186558);
    --grey:color(display-p3 .654443 .642787 .628928);
    --text:color(display-p3 .424831 .394227 .3578/.99);
    --brown-dark:color(display-p3 .231748 .163421 .0779489);
    --brown-light:color(display-p3 .489981 .396638 .283852);
    --brown-lightest:color(display-p3 .736348 .66886 .588441);
    --links:color(display-p3 .514227 .57242 .492514);
    --red:color(display-p3 .614345 .516184 .544791);
    --border-normal:1px solid color(display-p3 .249357 .201029 .139555/.6);
    --box-shadow-link:0 0 3px .4px color(display-p3 -.0000831223 .0000302539 -.00000224608);
    --box-shadow-link-hover:inset 0 0 2px 1px color(display-p3 -.0000831223 .0000302539 -.00000224608),inset 0 0 4px 1px color(display-p3 -.0000831223 .0000302539 -.00000224608),inset 0 0 8px 1px color(display-p3 -.0000831223 .0000302539 -.00000224608);
    --box-shadow-navbar:0 0 1px .2px color(display-p3 .0403929 .00376181 -.00506315);
    --box-shadow-navbar-hover:inset 0 0 2px 1px color(display-p3 -.0000743094 .000345461 -.0017736),inset 0 0 4px 1px color(display-p3 -.0000743094 .000345461 -.0017736),inset 0 0 8px 1px color(display-p3 -.0000743094 .000345461 -.0017736); } }

@supports (color: lab(0% 0 0)) {
  :root {
    --white:lab(98.2604% .245601 .709677);
    --brown:lab(31.488% 7.66538 19.2979);
    --grey:lab(67.5208% .87446 2.49323);
    --text:lab(43.1537% 2.65726 7.23798/.99);
    --brown-dark:lab(18.7342% 8.16128 20.3167);
    --brown-light:lab(44.8196% 9.09162 22.981);
    --brown-lightest:lab(70.9795% 5.4616 14.6021);
    --links:lab(58.7448% -10.477 9.76253);
    --red:lab(57.7367% 13.3997 .0874758);
    --border-normal:1px solid lab(22.4785% 5.11631 13.8593/.6);
    --box-shadow-link:0 0 3px .4px lab(.0000514984% -.0109598 .000149012);
    --box-shadow-link-hover:inset 0 0 2px 1px lab(.0000514984% -.0109598 .000149012),inset 0 0 4px 1px lab(.0000514984% -.0109598 .000149012),inset 0 0 8px 1px lab(.0000514984% -.0109598 .000149012);
    --box-shadow-navbar:0 0 1px .2px lab(.839653% 2.97833 2.01098);
    --box-shadow-navbar-hover:inset 0 0 2px 1px lab(.00720978% -.0986084 .213522),inset 0 0 4px 1px lab(.00720978% -.0986084 .213522),inset 0 0 8px 1px lab(.00720978% -.0986084 .213522); } }

body {
  background-color: oklch(var(--white));
  color: oklch(var(--text));
  font-feature-settings: "tnum" 1;
  font-size: var(--s0);
  max-width: 90%; }

.center {
  box-sizing: content-box;
  padding-inline: var(--space-s-xl);
  flex-direction: column;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex; }

h1, h2, h3, h4, h5, h6, nav li {
  line-height: 1.3; }

h1, h2, h3, h4, h5, h6 {
  color: oklch(var(--brown)); }

header h1 {
  font-size: var(--s4); }

nav li {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  font-size: var(--s-1); }

nav {
  border-left: 2px solid pink; }

nav a {
  -webkit-text-decoration: underline oklch(var(--links)) 2px;
  text-decoration: underline oklch(var(--links)) 2px; }

a {
  color: oklch(var(--brown));
  text-decoration: none; }

h1, h2 {
  font-size: var(--s3); }

h3, h4 {
  font-size: var(--s2); }

h5, h6 {
  font-size: var(--s1); }

main div h1 {
  flex: 100%; }

article:not(.featured) {
  max-width: 40ch; }

[role=hashtags] {
  color: oklch(var(--links));
  font-size: var(--s-1); }

time {
  color: oklch(var(--grey));
  font-size: var(--s-1); }

svg {
  opacity: 0; }

.cluster-header {
  justify-content: space-between;
  align-items: baseline;
  gap: var(--space-s) var(--space-xl);
  flex-wrap: wrap;
  display: flex; }

.cluster {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  display: flex; }

.with-sidebar {
  gap: var(--space-l) var(--space-3xl);
  flex-wrap: wrap;
  display: flex; }

.with-sidebar > :first-child {
  max-width: 40ch;
  min-width: 40ch;
  flex-grow: 999;
  flex-basis: 0; }

.with-sidebar > :last-child {
  flex-grow: 1;
  flex-basis: 20rem; }

.stack-l {
  flex-direction: column;
  justify-content: flex-start;
  display: flex; }

.stack-l > * {
  margin-top: 0;
  margin-bottom: 0; }

.stack-l > * + * {
  margin-top: var(--space-2xl); }

.stack {
  flex-direction: column;
  justify-content: flex-start;
  display: flex; }

.stack > * {
  margin-top: 0;
  margin-bottom: 0; }

.stack > * + * {
  margin-top: var(--space-xl); }

.stack > h1 + * {
  margin-top: var(--space-s); }

.stack-s {
  flex-direction: column;
  justify-content: flex-start;
  display: flex; }

.stack-s > *, .stack-s .meta {
  margin-top: 0;
  margin-bottom: 0; }

.stack-s > * + * {
  margin-top: var(--space-s); }

.stack-3xs {
  flex-direction: column;
  justify-content: flex-start;
  display: flex; }

.stack-3xs > * {
  margin-top: 0;
  margin-bottom: 0; }

.stack-3xs > * + * {
  margin-top: var(--space-3xs); }

.stack-ul {
  flex-direction: column;
  display: flex; }

.stack-ul * + * {
  margin-top: var(--space-s); }

.switcher {
  gap: var(--space-3xs) var(--space-l);
  flex-wrap: wrap;
  display: flex; }

.switcher > * {
  flex-grow: 1;
  flex-basis: calc(49950rem - 99900%); }

.switcher > :nth-last-child(n+7), .switcher > :nth-last-child(n+7) ~ * {
  flex-basis: 100%; }

.switcher-feed {
  gap: var(--space-l) var(--space-xl);
  flex-wrap: wrap;
  display: flex; }

.switcher-feed > * {
  flex-grow: 1;
  flex-basis: calc(99900rem - 99900%); }

.switcher-feed > :nth-last-child(n+8), .switcher-feed > :nth-last-child(n+8) ~ * {
  flex-basis: 100%; }

.switcher-feed h1 {
  min-width: 100%;
  box-shadow: 0 2px oklch(var(--grey)); }

.switcher-s {
  gap: var(--space-2xs) var(--space-s);
  flex-wrap: wrap;
  display: flex; }

.switcher-s > * {
  min-width: -webkit-fit-content;
  min-width: -moz-fit-content;
  min-width: fit-content;
  flex-basis: calc(4995rem - 99900%); }

.switcher-s > :nth-last-child(n+4), .switcher-s > :nth-last-child(n+4) ~ * {
  flex-basis: 100%; }
