body {
  max-width: var(--grid-max-width);
  margin-inline: auto;
  padding-inline: var(--grid-gutter);
}

.site-header {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  grid-column: 1 / -1;
  grid-row: 2 / 2;
}

.main {
  grid-column: 1 / -1;
  grid-row: 3 / 3;
}

.featured-project {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
}

.posts-feed {
  grid-column: 1 / -1;
  grid-row: 2 / 2;
  grid-template-areas:
    "header header header"
    ". . .";
}

.posts-feed h1 {
  grid-area: header;
  grid-column: 1 / -1;
}

.posts {
  grid-row: 2 / 2;
}

.bundles {
  display: grid;
  grid-column: 1 / -1;
  grid-row: 1 / 1;
  grid-template-columns: repeat(var(--row-columns), 1fr);
}

.bundle-info {
  grid-column: 1 / 6;
  grid-row: 1 / 1;
}

.bundles-feed {
  grid-column: 7 / 12;
  grid-row: 1 / 1;
}

.single-posts {
  display: grid;
  gap: var(--grid-gutter);
  grid-column: 1 / -1;
  grid-template-areas:
    "header bio"
    "posts posts";
  grid-template-columns: repeat(minmax(var(--row-columns), 1fr));
  grid-template-rows: repeat(auto-fill, var(--space-s));
}

.single-posts h1 {
  grid-area: header;
  grid-column: 1 / 11;
  grid-row: 1 / 1;
}

.single-posts .bio {
  grid-area: bio;
  grid-column: 11 / 16;
  grid-row: 1 / -1;
}

.single-posts .posts {
  grid-area: posts;
  grid-column: 1 / 11;
  grid-row: 2 / 2;
}
