body {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-areas:
    "header"
    "nav-bar"
    "main";
}

.site-header {
  grid-area: header;
  justify-self: left;
}

.site-nav {
  display: grid;
  grid-area: nav-bar;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.main {
  display: grid;
  grid-area: main;
  grid-template-areas:
    "featured"
    "bottom";
}

.featured-project {
  grid-area: featured;
}

.posts-feed {
  display: grid;
  justify-content: space-between;
  gap: var(--space-s);
  grid-area: bottom;
  grid-template-areas:
    "title"
    "posts";
}

.posts {
  grid-row: 2;
}

.bundles {
  display: grid;
  grid-template-areas:
    "title title"
    "info info"
    "content content";
}

.bundle-info {
  grid-row: 1;
}

.bundles-list-posts {
  grid-column: 2;
  grid-row: 1;
}
