.site-nav {
  min-width: 100%;
  border-radius: 2px;
  text-align: center;
}

.site-nav .links {
  flex: 1 1 auto;
  padding: var(--space-3xs-2xs);
  background-color: var(--brown);
  box-shadow: 0 0 0.2px 2px var(--brown-dark);
  color: var(--brown-light);
  font-size: var(--step-0);

  &:hover {
    background-color: var(--brown-light);
    color: var(--brown-dark);
  }
}
