.posts-feed {
}

/* .posts-feed h1 {
  letter-spacing: 0.02em;
} */

.posts-feed .posts {
  max-width: 40ch;
}

.posts-feed h2 {
}

.posts-feed a {
  & .post-title {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover .post-title {
    text-decoration: underline;
    text-decoration-color: var(--links);
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
  }
}

.posts-feed .post-date {
  font-style: italic;
  /* font-variation-settings: "wght" 300; */
}

.posts-feed p {
  display: inline;
  font-style: italic;
}

.posts-feed .read-more-arrow {
  display: inline-block;
  width: 20px;
  height: auto;
  border-radius: var(--border-r-s);
  color: var(--links);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  vertical-align: top;

  &:hover {
    background-color: var(--links);
    box-shadow: var(--box-shadow-link-hover);
    color: var(--brown);
  }
}

.posts-feed .chevron {
  padding: 0;
  margin: 0;

  &:hover {
    stroke-width: 3;
  }
}
