<article class="featured with-sidebar">
  {{ range first 1 .Site.Taxonomies.tags.featured }}
    <div class="stack-s">
      {{/* remove tags for now partial "tags.html" . */}}
      <div class="meta stack-3xs">
        <h1>
          <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
        </h1>
        <time datetime class="post-date"
          >{{ .Date | time.Format "2006–01–02" }}
        </time>
      </div>
      {{ partial "summary-svg-text.html" . }}
    </div>
    {{ partial "featured-image.html" . }}
  {{ end }}
</article>
