<div class="featured-project u-grid-s">
  <article class="featured-project-summary">
    {{ range first 1 .Site.Taxonomies.tags.featured }}
      {{ partial "tags.html" . }}
      <div class="post-meta">
        <a href="{{ .Permalink }}">
          <h2 class="post-title">{{ .Title }}</h2>
          <time datetime class="post-date"
          >{{ .Date | time.Format "2006–01–02" }}
          </time>
        </a>
      </div>
      {{ partial "read-more-svg.html" . }}
    {{ end }}
  </article>
</div>

<!-- icon from https://lucide.dev -->
