<section class="posts-feed u-grid-s">
  <h1>{{ with .Site.GetPage "Section" "posts" }}{{ .Title }}{{ end }}</h1>

  {{ range first 5 (where .Site.RegularPages "Type" "in" site.Params.mainSections).ByDate.Reverse }}
    <article class="posts">
      <h2>
        <a href="{{ .Permalink }}">
          <span class="post-title">{{ .Title }}</span>
          <span class="post-date">{{ .Date | time.Format "2006–01–02" }} </span>
        </a>
      </h2>
       {{ partial "read-more-svg-no-text.html" . }}
    </article>
  {{ end }}
</section>
