{{/* Shows up to the first five posts without the 'featured' tag */}}
<div class="switcher-feed">
  {{- with .Site.GetPage "Section" "posts" -}}
    <h1 role="latest-posts">{{- .Title -}}</h1>
  {{- end -}}
  {{- range first 5 (where site.RegularPages "Type" "in"
    site.Params.mainSections)
  -}}
    {{- if (not (in .Params.tags "featured")) -}}
      <article class="stack-s">
        <div class="meta">
          <h2>
            <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
          </h2>
          <time datetime class="post-date"
            >{{- .Date | time.Format "2006–01–02" -}}
          </time>
        </div>
        {{- partial "summary-svg-no-text.html" . -}}
      </article>
    {{- end -}}
  {{- end -}}
</div>
