<section class="posts-feed">
  <h1>{{ with .Site.GetPage "Section" "posts" }}{{ .Title }}{{ end }}</h1>
  {{ range first 3 (where .Site.RegularPages "Section" "posts") }}
  <article class="posts">
    <a href="{{ .Permalink }}">
      <h2>
        <span class="post-date"
          >{{ .Date | time.Format ":date_short" }} -
        </span>

        {{ .Title }}
      </h2></a
    >
      <p>{{ .RawContent | truncate 320 }}{{ if .Truncated }}
      <a class="read-more-arrow" href="{{ .RelPermalink }}">
        <svg
          class="chevron"
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="none"
          stroke="currentColor"
          stroke-width="2"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <polyline points="13 17 18 12 13 7"></polyline>
          <polyline points="6 17 11 12 6 7"></polyline>
        </svg>
      </a>
      </p>
      {{ end }}
  </article>
  {{end}}
</section>
