<!-- icon from https://lucide.dev -->
{{- if .Params.Summary -}}
  <p>{{- .Summary | safeHTML -}}</p>
  <a class="read-more-arrow" href="{{- .RelPermalink -}}"
    ><svg
      class="chevron"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="13 17 18 12 13 7"></polyline>
      <polyline points="6 17 11 12 6 7"></polyline>
    </svg>
  </a>
{{- else -}}
  {{- .Content | safeHTML | truncate 256 -}}
  <a class="read-more-arrow" href="{{- .RelPermalink -}}">
  <span class="svg-icon">
    <svg
      class="chevron"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
    >
      <polyline points="13 17 18 12 13 7"></polyline>
      <polyline points="6 17 11 12 6 7"></polyline>
    </svg>
  </span>
  </a>
{{- end -}}
