{{ define "main" }}
  <article class="stack-s full-post">
    <h1>{{ .Title }}</h1>
    {{ .Content }}
  </article>
  <div class="switcher-feed">
    {{- range first 3 (where .Sections "Section" "family") -}}
      <article class="stack-s">
        <div class="stack-3xs">
          <h1>
            <a href="{{- .Permalink -}}">{{- .Title -}}</a>
          </h1>
          {{ partial "family/tags.html" . }}
        </div>
        <div class="stack">
          {{ range .RegularPagesRecursive }}
            <article class="stack-s double-s">
              <div class="meta stack-3xs">
                <h2>
                  <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
                </h2>
                <time datetime
                  >{{ .Date | time.Format "2006–01–02" }}
                </time>
              </div>
              {{ partial "summary-svg-no-text.html" . }}
            </article>
          {{ end }}
        </div>
      </article>
    {{ end }}
  </div>
{{ end }}
