{{ define "main" }}
<article class="single-posts">
  <h1>
    <a href="{{ .RelPermalink }}">{{ .Title }}</a>
  </h1>

  {{ .Content }}
</article>
{{ end }} {{/*
<!-- Needs:
1) Title
2) Text area for locations, time periods, commentary
3) Static image tagged as 'main' image for this page
4) Freeform narrative portion
5) Sections automatically updated by being tagged to this page:
	- Links to individuals in family
	- Photos
		- Thumbnail slideshow
	- Docs
		- Thumbnail slideshow
	- Links to blog posts
		- Last 5 posts, "More posts..." after
-->
*/}}
