{{ define "main" }}
  <article class="full-post">
    <div class="stack-s">
      <div class="meta stack-2xs">
        <h1>
          <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
        </h1>
        <time datetime="{{ .Date | time.Format "2006–01–02" }}"
          >{{- .Date | time.Format "2006–01–02" -}}
        </time>
      </div>
      {{ .Content | markdownify }}
    </div>
  </article>
{{ end }}

{{/* Needs to be clearer that individual posts are part of a larger list (the bundles) rather than solo posts, which go
  under /posts (duh). So there should be a mini-list containing these on the p&f page?
*/}}
