{{ define "main" }}

{{- $individual := index .Site.Data.dar.dar -}}
{{ $id := .Title | strings.TrimLeft "id_" }}

Taxonomy.html
<article class="single-posts">
  <h1>
	<a href="{{ .RelPermalink }}">{{ index (index $individual .Title) "name" }}</a>
  </h1>
  <div class="posts">
	{{ .Content }}
  </div>
  <aside class="bio">
	{{ if isset .Params "has_image" }}
	{{ $image := resources.Get .Params.image}}
	{{ with $image }}
	<img class="headshot" src="{{ .RelPermalink }}" width="200" height="200" />
	{{ end }}
	{{ end }}
  </aside>
</article>

<ul class="bio-list">
  <h3>Born:</h3>
  <li>
	  {{ index (index $individual .Title) "date of birth" }}
  </li>
  <h3>Birthplace:</h3>
	<li>
		{{ index (index $individual .Title) "place of birth" }}
	</li>
	  <h3>Died:</h3>
	<li>
	{{ index (index $individual .Title) "died" }}
	</li>
	<h3>Place of Death:</h3>
	<li>
	{{ index (index $individual .Title) "place of death" }}
	</li>
	<h3>ID:</h3>
	<li>
	{{ $id }}
	</li>
	{{/* modBool calc to determine relationship to Beth?
	<h3>Relationship</h3>
	{{ $generation := replaceRE `[a-z]+_[0-9]+_[0-9]+` `$1` .Title }}
	{{ $number := replaceRE `[a-z]+_(\d\d)_\d\d(\d)` `$2` .Title }}
	{{ $number }}
	*/}}
</ul>

{{ end }}
