{{ define "main" }}
  {{- $individual := index .Site.Data.dar.dar -}}

  {{ $id := .Title | strings.TrimLeft "id-" }}
  <article class="featured with-sidebar">
    <div class="stack-s">
      <div class="meta">
      {{ with (index $individual .Title) }}
        <h1 class="space-s">
          <a href="{{ .RelPermalink }}">{{ index . "name" }}</a>
        </h1>
      </div>

    <ul class="stack-s">
      <li>
        <h4>Born:</h4>
        {{ index . "date of birth" }}
      </li>

      <li>
        <h4>Birthplace:</h4>
        {{ index . "place of birth" }}
      </li>
      <li>
        <h4>Died:</h4>
        {{ index . "died" }}
      </li>
      <li>
        <h4>Place of Death:</h4>
        {{ index . "place of death" }}
      </li>
      <li>
        <h4>ID:</h4>
        {{ $id }}
      </li>
    </ul>
  {{ end }}
    </div>
      {{ partial "headshot.html" . }}
  </article>

{{ end }}
