{{ define "main" }}
  {{- $individual := index .Site.Data.dar.dar -}}
  {{ $id := .Title | strings.TrimLeft "id-" }}
  Taxonomy.html
  <article class="single-posts">
    {{ with index $individual .Title }}
      <h1>
        <a href="{{ .RelPermalink }}">{{ index . "name" }}</a>
      </h1>
    {{ end }}
    <div class="posts">
      {{ .Content }}
    </div>
    <aside class="bio">
      {{ if isset .Params "has_image" }}
        {{ $image := resources.Get .Params.image }}
        {{ with $image }}
          <img
            class="headshot"
            src="{{ .RelPermalink }}"
            width="200"
            height="200"
          />
        {{ end }}
      {{ end }}
    </aside>
  </article>

  <ul class="bio-list">
    <li>
      <h3>Born:</h3>
      {{ index (index $individual .Title) "date of birth" }}
    </li>

    <li>
      <h3>Birthplace:</h3>
      {{ index (index $individual .Title) "place of birth" }}
    </li>
    <li>
      <h3>Died:</h3>
      {{ index (index $individual .Title) "died" }}
    </li>
    <li>
      <h3>Place of Death:</h3>
      {{ index (index $individual .Title) "place of death" }}
    </li>
    <li>
      <h3>ID:</h3>
      {{ $id }}
    </li>
  </ul>
{{ end }}
