{{ define "main" }}
  <section class="stack-l">
    <article class="stack-s full-post center">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </article>
    <div class="switcher-feed">
      {{- range first 3 (where .Sections "Section" "photos-and-documents") -}}
        <article class="stack-s">
          {{ partial "photos-and-documents/breadcrumb.html" . }}

          <h1>
            <a href="{{- .Permalink -}}">{{- .Title -}}</a>
          </h1>
          <div class="meta">
            <ol>
              {{- range .Pages -}}
                <li>
                  <a href="{{- .Permalink -}}">{{- .Title -}}</a
                  >{{ range .RegularPagesRecursive }}
                    <ul>
                      <li><a href="{{- .Permalink -}}">{{- .Title -}}</a></li>
                    </ul>
                  {{ end }}
                </li>
              {{ end }}
            </ol>
          </div>
        </article>
      {{ end }}

    </div>
  </section>
{{ end }}
