{{ define "main" }}
  {{ $union := union .Pages .Sections }}


  <article class="full-post">
    <div class="stack-s">
      <h1>{{ .Title }}</h1>
      {{ .Content }}
    </div>
  </article>

  {{ if ne .FirstSection .Page }}
    <span>
      {{ partial "photos-and-documents/breadcrumb.html" . }}
    </span>
  {{ end }}


  <div class="switcher-feed">
    {{ range $union }}
      <article class="stack-s">
        <div class="meta stack-2xs">
          <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
        </div>
        {{ if eq .Page.BundleType (printf "%s" "leaf") }}
          {{ partial "summary-svg-no-text.html" . }}
        {{ end }}
        <ol>
          {{- range .Pages -}}
            <li>{{ partial "photos-and-documents/recursive.html" . }}</li>
          {{ end }}
        </ol>
      </article>
    {{ end }}
  </div>
{{ end }}
