{{ define "main" }}
  <article class="full-post">
    <div class="stack-s">
      <div class="meta stack-3xs">
        <h2>
          <a href="{{- .Permalink -}}">{{- .Title | markdownify -}}</a>
        </h2>
        <time datetime
          >{{- .Date | time.Format "2006–01–02" -}}
        </time>
        {{ partial "photos-and-documents/breadcrumb.html" . }}
      </div>
      {{ .Content | markdownify }}
      <div class="featured-image">
        <figure class="stack-3xs">
          {{ with .Params.attached_content }}
            <img width="600" height="600" src="{{ . }}" />
          {{ end }}
          <figcaption class="center">
            {{ .Params.attached_content | replaceRE `\.jpg|\.png|\.tif|\.tiff` "" }}
          </figcaption>
        </figure>
      </div>
    </div>
  </article>
{{ end }}
