
{{- $regex := findRE `(?mi)^[0-9]+\.\s+([^.])+\.` .Inner -}}
{{- $ahnentafel := slice -}}

  {{- $counter := 0 -}}
  {{- range $index, $name := $regex -}}

   {{- $generation := (math.Floor (div (math.Log ($counter = add $counter 1)) (math.Log 2)))
   -}}
   {{- $num := 0 -}}
   {{- $id := add $num $counter -}}
   {{- if lt $index 9 -}}
   {{- $id = print "-0" $id -}}
   {{- else -}}
   {{- $id = print "-0" $id -}}
   {{- end -}}

   {{- $generation = string $generation -}}
   {{- $id := print "[0" $generation print $id "]" -}}

   {{- $dict := dict
   $name $id -}}

  {{- $ahnentafel = $ahnentafel | append $dict -}}
  {{- end -}}

{{- $object := dict "ahnentafel" $ahnentafel -}}
