/*
* Consider using hue of 50
* text: oklch(27% 0.07 50)
* links: oklch(51% 0.14 352)
* headings: oklch(10% 0.07 50)
*/ 

:root {
  --hue-primary: 70;
  --hue-secondary: 350;
  --white: 99.5% 0.002 var(--hue-primary);
  --brown: 40% 0.05 var(--hue-primary);
  --grey: 72% 0.01 var(--hue-primary);
  --text: 30% 0.075 var(--hue-primary);
  --brown-dark: 28% 0.1 var(--hue-primary);
  --brown-light: 52.5% 0.06 var(--hue-primary);
  --brown-lightest: 75% 0.04 var(--hue-primary);
  --links: 54% 0.14 var(--hue-secondary);
  --links-hover: oklch(from oklch(54% 0.14 350) l c h / 36%);
  --links-active: oklch(from oklch(54% 0.14 350) l c h / 42%);
  --red: 64% 0.04 359.8;
  --border-r-s: 4px;
  --border-r-l: 8px;
  --box-shadow-single: 0 0 2px 0.2px oklch(var(--brown-dark));
  --box-shadow-single-inset: inset 0 0 2px 0.4px oklch(var(--brown-dark));
  --box-shadow-link: 0 0 1.5px oklch(from oklch(64% 0.04 350) 40% c h);
  --box-shadow-link-hover: 0 0 2px oklch(from oklch(64% 0.04 350) 20% c h);
  --transition-standard: background-color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), color 0.5s cubic-bezier(0.645, 0.045, 0.355, 1), box-shadow 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition-svg: transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  --transition-text-decoration: text-decoration-line 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  --fonts-standard:
    "Public Sans VF",
    seravek,
    "Gill Sans Nova",
    ubuntu,
    calibri,
    "DejaVu Sans",
    source-sans-pro,
    sans-serif;

  background-color: oklch(var(--white));
  color: oklch(var(--text));
  font-family: var(--fonts-standard);
  font-feature-settings: "tnum" 1;
  font-weight: 400;
  line-height: calc(6px + 2ex + 6px);
  -webkit-tap-highlight-color: var(--links-active);
}

/* modified from andy bell */
main {
  width: clamp(16rem, 90vw, 108rem);
}

body {
  font-size: var(--s0);
}

.center {
  display: flex;
  box-sizing: content-box;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  padding-inline: var(--space-s-xl);
}

nav li {
  font-size: var(--s-1);
}

article:not(.featured, .full-post),
blockquote {
  max-inline-size: 40ch;
}

.meta {
  color: oklch(from oklch(30% 0.075 70) 63% .02 h);
  font-size: var(--s-1);
  line-height: 1.2;
}

.featured {
  display: flex;
  box-sizing: content-box;
  align-items: center;
  margin-inline: auto;
}

img {
  border-radius: var(--border-r-s);
  filter: drop-shadow(0 0 1px oklch(var(--brown-dark)));
}

.featured-image {
  max-width: fit-content;

  figcaption {
    text-align: center;
  }
}

.featured {
  .read-more {
    display: inline-flex;
    justify-content: center;
    padding: var(--space-3xs) var(--space-xs);
    background-color: oklch(var(--links) / 27%);
    box-shadow: var(--box-shadow-link);
    color: oklch(var(--text));
    font-size: var(--s-1);
    font-weight: 500;
    margin-inline: auto;
    transition: var(--transition-standard);

    &:hover {
      background-color: var(--links-hover);
      box-shadow: var(--box-shadow-link-hover);
    }

    span {
      margin-inline-end: var(--space-xs);
    }

    svg {
      width: var(--s0);
      height: var(--s0);
      align-self: center;
      color: oklch(var(--text));
    }

    &:hover svg {
    }
  }
}

.space-s-last> :last-child {
  margin-block-end: var(--space-l);
}


.space-s-first> :first-child {
  margin-block-end: var(--space-s);
}
