:root {
  --white: oklch(99% 0.005 69.71);
  --brown: oklch(42.2% 0.036 69.71);
  --brown-light: oklch(77.2% 0.036 69.71);
  --brown-lightest: oklch(80.2% 0.036 69.71);
  --brown-dark: oklch(33.2% 0.036 69.71);
  --links: oklch(73.2% 0.036 169.71);
  --red: oklch(54.5% 0.18 359.8);
  --border-r-s: 4px;
  --border-r-l: 8px;
  --box-shadow-single: 0 0 2px 0.4px var(--brown-dark);
  --box-shadow-single-inset: inset 0 0 2px 0.4px var(--brown-dark);
  --box-shadow-link: 0 0 3px 0.4px oklch(from oklch(73.2% 0.036 169.71) calc(l - 40%) c h);
  --box-shadow-link-hover:
    inset 0 0 2px 1px
    oklch(from oklch(73.2% 0.036 169.71) calc(l - 20%) c h),
    inset 0 0 4px 1px
    oklch(from oklch(73.2% 0.036 169.71) calc(l - 12%) c h),
    inset 0 0 8px 1px
    oklch(from oklch(73.2% 0.036 169.71) calc(l - 4%) c h);
  --box-shadow-navbar: 0 0 2px 0.2px oklch(from oklch(33.9% 0.036 69.71) calc(l + 10%) c h);
  --box-shadow-navbar-hover:
    inset 0 0 2px 1px
    oklch(from oklch(77.2% 0.036 69.71) calc(l - 12%) c h),
    inset 0 0 4px 1px
    oklch(from oklch(77.2% 0.036 69.71) calc(l - 8%) c h),
    inset 0 0 8px 1px
    oklch(from oklch(77.2% 0.036 69.71) calc(l - 4%) c h);
  --border-normal: 1px solid oklch(33.2% 0.036 69.71 / 0.6);
}

body {
  margin: var(--space-xl) 0 0 0;
  background-color: var(--white);
  color: var(--brown-dark);
  font-family:
    "Public Sans VF",
    system-ui,
    -apple-system,
    "segoe UI",
    sans-serif;
  font-size: 1rem;
  font-variant-numeric: tabular-nums;
}

a {
  text-decoration: 0;
}

.hashtags:not(:first-child) {
  margin-left: var(--space-xs);
}

.tags {
  color: var(--links);
  text-decoration: underline;
  text-decoration-color: transparent;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    text-decoration: underline;
    text-decoration-color: var(--links);
    text-decoration-thickness: 2px;
    text-underline-offset: 2px;
  }
}

.footnotes hr {
  margin: var(--space-s);
}

/*
* Another option is to color the bullets?
* Using the default links green looks a little too Christmas-y
*/

.found-content {
  color: var(--links);
}

.missing-content {
  color: oklch(59.22% 0.075 16.02);
}
