:root {
  --white: oklch(98.5% 0.002 68.18 / 100%);
  --brown: oklch(39% 0.05 68.18 / 100%);
  --brown-dark: oklch(32.03% 0.06 68.18 / 100%);
  --brown-light: oklch(52.5% 0.06 68.18 / 100%);
  --brown-lightest: oklch(75% 0.04 68.18 / 100%);
  --links: oklch(64% 0.04 140.46 / 100%);
  --red: oklch(64% 0.04 359.8 / 100%);
  --border-r-s: 4px;
  --border-r-l: 8px;
  --box-shadow-single: 0 0 2px 0.4px var(--brown-dark);
  --box-shadow-single-inset: inset 0 0 2px 0.4px var(--brown-dark);
  --box-shadow-link: 0 0 3px 0.4px oklch(from oklch(73.2% 0.036 169.71) calc(l - 40%) c h);
  --box-shadow-link-hover:
    inset 0 0 2px 1px
    oklch(from oklch(73.2% 0.036 169.71) calc(l - 20%) c h),
    inset 0 0 4px 1px
    oklch(from oklch(73.2% 0.036 169.71) calc(l - 12%) c h),
    inset 0 0 8px 1px
    oklch(from oklch(73.2% 0.036 169.71) calc(l - 4%) c h);
  --box-shadow-navbar: 0 0 1px 0.2px oklch(from oklch(33.9% 0.036 69.71) calc(l + 10%) c h);
  --box-shadow-navbar-hover:
    inset 0 0 2px 1px
    oklch(from oklch(77.2% 0.036 69.71) calc(l - 12%) c h),
    inset 0 0 4px 1px
    oklch(from oklch(77.2% 0.036 69.71) calc(l - 8%) c h),
    inset 0 0 8px 1px
    oklch(from oklch(77.2% 0.036 69.71) calc(l - 4%) c h);
  --border-normal: 1px solid oklch(33.2% 0.036 69.71 / 0.6);
}

body {
  background-color: var(--white);
  color: var(--brown-dark);
  font-family:
    "Public Sans VF",
    system-ui,
    -apple-system,
    "segoe UI",
    sans-serif;
  font-variant-numeric: tabular-nums;
  font-weight: 400;
  line-height: calc(4px + 2ex + 4px);
}

.hashtags:not(:first-child) {
  margin-left: var(--space-xs);
}

.found-content {
  color: var(--links);
}

.missing-content {
  color: var(--red);
}
