.featured-project {
  margin-bottom: calc(var(--grid-gutter) * 0.5);
}

.featured-project-summary > ul,
.bundles ul {
  display: flex;
  list-style: none;
}

.featured-project .read-more-arrow {
  display: flex;
  width: fit-content;
  padding: var(--space-3xs) var(--space-2xs);
  border-radius: var(--border-r-s);
  margin: var(--space-s) auto 0;
  color: var(--links);
  font-size: var(--step-0);
  font-variant: all-small-caps;
  font-weight: 300;
  outline: 2px solid var(--links);
  place-items: flex-end;
  text-decoration: none;

  & svg {
    width: 20px;
    height: 20px;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover {
    background-color: var(--links);
    box-shadow: var(--box-shadow-link-hover);
    color: var(--brown);
    text-decoration: none;
  }

  &:hover svg {
    stroke-width: 4;
  }
}

.featured-project .chevron {
  margin-left: var(--space-3xs);
}
