.grid {
  grid-auto-columns: 1fr;
}

.site-header {
  grid-column: 1 / -1;
  grid-row: 1 / 1;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
}

.links {
  flex-grow: 1;
}


.featured-project {
  grid-template-columns: repeat(auto-fill, 40ch);
  justify-content: space-around;
}

.posts-feed {
  grid-template-columns: repeat(auto-fill, 40ch);
  justify-content: space-around;
}

.posts-feed h1 {
  grid-column: 1 / -1;
  grid-row: 1 / -1;
}

.bundles {
grid-template-columns: repeat(auto-fit, 40ch);
justify-content: space-around;
}

.single-posts {
  display: grid;
  gap: var(--grid-gutter);
  grid-column: 1 / -1;
  grid-template-areas:
    "header bio"
    "posts posts";
  grid-template-columns: repeat(minmax(var(--grid-columns), 1fr));
  grid-template-rows: repeat(auto-fill, var(--space-s));
}

.single-posts h1 {
  grid-area: header;
  grid-column: 1 / 11;
  grid-row: 1 / 1;
}

.single-posts .bio {
  grid-area: bio;
  grid-column: 11 / 16;
  grid-row: 1 / -1;
}

.single-posts .posts {
  grid-area: posts;
  grid-column: 1 / 11;
  grid-row: 2 / 2;
}
