/*
* Unrelated content: space-l
* Feed content: space-m
* Related content (e.g. title -> post): space-s
* Super related content (e.g. paragraphs) space-xs
* Chevrons: space-2xs
* Button/link padding: 2xs
* Big underlines: var(--space-4xs-3xs)
* framed content: xs
* post meta: 3xs
*/

/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1400,22,1.2,4,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --s-3: clamp(0.7rem, calc(0.67rem + 0.14vw), 0.8rem);
  --s-2: clamp(0.79rem, calc(0.74rem + 0.24vw), 0.96rem);
  --s-1: clamp(0.89rem, calc(0.81rem + 0.38vw), 1.15rem);
  --s0: clamp(1rem, calc(0.89rem + 0.56vw), 1.38rem);
  --s1: clamp(1.13rem, calc(0.97rem + 0.78vw), 1.65rem);
  --s2: clamp(1.27rem, calc(1.05rem + 1.06vw), 1.98rem);
  --s3: clamp(1.42rem, calc(1.14rem + 1.41vw), 2.38rem);
  --s4: clamp(1.6rem, calc(1.23rem + 1.85vw), 2.85rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1400,22,1.2,4,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-xl|3xs-s&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, calc(0.21rem + 0.19vw), 0.38rem);
  --space-2xs: clamp(0.5rem, calc(0.44rem + 0.28vw), 0.69rem);
  --space-xs: clamp(0.75rem, calc(0.66rem + 0.46vw), 1.06rem);
  --space-s: clamp(1rem, calc(0.89rem + 0.56vw), 1.38rem);
  --space-m: clamp(1.5rem, calc(1.33rem + 0.83vw), 2.06rem);
  --space-l: clamp(2rem, calc(1.78rem + 1.11vw), 2.75rem);
  --space-xl: clamp(3rem, calc(2.67rem + 1.67vw), 4.13rem);
  --space-2xl: clamp(4rem, calc(3.56rem + 2.22vw), 5.5rem);
  --space-3xl: clamp(6rem, calc(5.33rem + 3.33vw), 8.25rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.12rem + 0.65vw), 0.69rem);
  --space-2xs-xs: clamp(0.5rem, calc(0.33rem + 0.83vw), 1.06rem);
  --space-xs-s: clamp(0.75rem, calc(0.56rem + 0.93vw), 1.38rem);
  --space-s-m: clamp(1rem, calc(0.69rem + 1.57vw), 2.06rem);
  --space-m-l: clamp(1.5rem, calc(1.13rem + 1.85vw), 2.75rem);
  --space-l-xl: clamp(2rem, calc(1.37rem + 3.15vw), 4.13rem);
  --space-xl-2xl: clamp(3rem, calc(2.26rem + 3.7vw), 5.5rem);
  --space-2xl-3xl: clamp(4rem, calc(2.74rem + 6.3vw), 8.25rem);

  /* Custom pairs */
  --space-s-xl: clamp(1rem, calc(0.07rem + 4.63vw), 4.13rem);
  --space-3xs-s: clamp(0.25rem, calc(-0.08rem + 1.67vw), 1.38rem);
}