/*
* Unrelated content: space-l
* Feed content: space-m
* Related content (e.g. title -> post): space-s
* Super related content (e.g. paragraphs) space-xs
* Chevrons: space-2xs
* Button/link padding: 2xs
* Big underlines: var(--space-4xs-3xs)
* framed content: xs
* post meta: 3xs
*/

/* https://utopia.fyi/type/calculator?c=320,16,1.125,1400,20,1.2,5,3,&s=0.75%7C0.5%7C0.25,1.5%7C2%7C3%7C4%7C6,s-xl%7C3xs-s&g=s,l,xl,12 */

:root {
  --s-3: clamp(0.70rem, calc(0.70rem + 0.03vw), 0.72rem);
  --s-2: clamp(0.79rem, calc(0.77rem + 0.12vw), 0.87rem);
  --s-1: clamp(0.89rem, calc(0.84rem + 0.23vw), 1.04rem);
  --s0: clamp(1.00rem, calc(0.93rem + 0.37vw), 1.25rem);
  --s1: clamp(1.13rem, calc(1.01rem + 0.56vw), 1.50rem);
  --s2: clamp(1.27rem, calc(1.11rem + 0.79vw), 1.80rem);
  --s3: clamp(1.42rem, calc(1.21rem + 1.09vw), 2.16rem);
  --s4: clamp(1.60rem, calc(1.31rem + 1.47vw), 2.59rem);
  --s5: clamp(1.80rem, calc(1.41rem + 1.94vw), 3.11rem);
}

/* @link https://utopia.fyi/space/calculator?c=320,16,1.125,1400,20,1.2,5,3,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-xl|3xs-s&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.25rem, calc(0.23rem + 0.09vw), 0.31rem);
  --space-2xs: clamp(0.50rem, calc(0.46rem + 0.19vw), 0.63rem);
  --space-xs: clamp(0.75rem, calc(0.69rem + 0.28vw), 0.94rem);
  --space-s: clamp(1.00rem, calc(0.93rem + 0.37vw), 1.25rem);
  --space-m: clamp(1.50rem, calc(1.39rem + 0.56vw), 1.88rem);
  --space-l: clamp(2.00rem, calc(1.85rem + 0.74vw), 2.50rem);
  --space-xl: clamp(3.00rem, calc(2.78rem + 1.11vw), 3.75rem);
  --space-2xl: clamp(4.00rem, calc(3.70rem + 1.48vw), 5.00rem);
  --space-3xl: clamp(6.00rem, calc(5.56rem + 2.22vw), 7.50rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.25rem, calc(0.14rem + 0.56vw), 0.63rem);
  --space-2xs-xs: clamp(0.50rem, calc(0.37rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.75rem, calc(0.60rem + 0.74vw), 1.25rem);
  --space-s-m: clamp(1.00rem, calc(0.74rem + 1.30vw), 1.88rem);
  --space-m-l: clamp(1.50rem, calc(1.20rem + 1.48vw), 2.50rem);
  --space-l-xl: clamp(2.00rem, calc(1.48rem + 2.59vw), 3.75rem);
  --space-xl-2xl: clamp(3.00rem, calc(2.41rem + 2.96vw), 5.00rem);
  --space-2xl-3xl: clamp(4.00rem, calc(2.96rem + 5.19vw), 7.50rem);

  /* Custom pairs */
  --space-s-xl: clamp(1.00rem, calc(0.19rem + 4.07vw), 3.75rem);
  --space-3xs-s: clamp(0.25rem, calc(-0.05rem + 1.48vw), 1.25rem);
}