/*
* Unrelated content: space-l
* Feed content: space-m
* Related content (e.g. title -> post): space-s
* Super related content (e.g. paragraphs) space-xs
* Chevrons: space-2xs
* Button/link padding: 2xs
* Big underlines: var(--space-4xs-3xs)
* framed content: xs
* post meta: 3xs
*/

/* @link https://utopia.fyi/type/calculator?c=318,18,1.333,1240,20,1.618,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,l,12 */

:root {
  --fluid-min-width: 318;
  --fluid-max-width: 1240;
  --fluid-screen: 100vw;
  --fluid-bp: calc((var(--fluid-screen) - var(--fluid-min-width) / 16 * 1rem) / (var(--fluid-max-width) - var(--fluid-min-width)));
}

@media screen and (min-width: 1240px) {
  :root {
    --fluid-screen: calc(var(--fluid-max-width) * 1px);
  }
}

/* @link https://utopia.fyi/type/calculator?c=320,18,1.333,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --step--2: clamp(0.63rem, calc(0.61rem + 0.12vw), 0.70rem);
  --step--1: clamp(0.84rem, calc(0.81rem + 0.16vw), 0.94rem);
  --step-0: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --step-1: clamp(1.50rem, calc(1.44rem + 0.29vw), 1.67rem);
  --step-2: clamp(2.00rem, calc(1.92rem + 0.39vw), 2.22rem);
  --step-3: clamp(2.66rem, calc(2.56rem + 0.52vw), 2.96rem);
  --step-4: clamp(3.55rem, calc(3.41rem + 0.69vw), 3.95rem);
  --step-5: clamp(4.74rem, calc(4.55rem + 0.91vw), 5.26rem);
}
/* @link https://utopia.fyi/space/calculator?c=320,18,1.333,1240,20,1.333,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  --space-3xs: clamp(0.31rem, calc(0.31rem + 0.00vw), 0.31rem);
  --space-2xs: clamp(0.56rem, calc(0.54rem + 0.11vw), 0.63rem);
  --space-xs: clamp(0.88rem, calc(0.85rem + 0.11vw), 0.94rem);
  --space-s: clamp(1.13rem, calc(1.08rem + 0.22vw), 1.25rem);
  --space-m: clamp(1.69rem, calc(1.62rem + 0.33vw), 1.88rem);
  --space-l: clamp(2.25rem, calc(2.16rem + 0.43vw), 2.50rem);
  --space-xl: clamp(3.38rem, calc(3.24rem + 0.65vw), 3.75rem);
  --space-2xl: clamp(4.50rem, calc(4.33rem + 0.87vw), 5.00rem);
  --space-3xl: clamp(6.75rem, calc(6.49rem + 1.30vw), 7.50rem);

  /* One-up pairs */
  --space-3xs-2xs: clamp(0.31rem, calc(0.20rem + 0.54vw), 0.63rem);
  --space-2xs-xs: clamp(0.56rem, calc(0.43rem + 0.65vw), 0.94rem);
  --space-xs-s: clamp(0.88rem, calc(0.74rem + 0.65vw), 1.25rem);
  --space-s-m: clamp(1.13rem, calc(0.86rem + 1.30vw), 1.88rem);
  --space-m-l: clamp(1.69rem, calc(1.40rem + 1.41vw), 2.50rem);
  --space-l-xl: clamp(2.25rem, calc(1.73rem + 2.61vw), 3.75rem);
  --space-xl-2xl: clamp(3.38rem, calc(2.81rem + 2.83vw), 5.00rem);
  --space-2xl-3xl: clamp(4.50rem, calc(3.46rem + 5.22vw), 7.50rem);

  /* Custom pairs */
  --space-s-l: clamp(1.13rem, calc(0.65rem + 2.39vw), 2.50rem);
}

/* @link https://utopia.fyi/grid/calculator?c=318,18,1.333,1236,20,1.618,5,2,&s=0.8|0.4|0.2,1.4|1.8|2.4|3.2|4.2,s-l&g=s,l,2xl,12 */

:root {
  --grid-max-width: 77.5rem;
  --grid-gutter: var(--space-s-l, clamp(1.13rem, calc(0.65rem + 2.39vw), 2.5rem));
  --grid-columns: 12;
}

.u-container {
  max-width: var(--grid-max-width);
  margin-inline: auto;
  padding-inline: var(--grid-gutter);
}

.u-grid {
  display: grid;
  gap: var(--grid-gutter);
}

.u-grid-s {
  display: grid;
  gap: calc(var(--grid-gutter) * 0.5);
}

/* Flow mod from Utopia */

.u-flow > * + * {
  margin-bottom: var(--space-s);
}

.u-flow--l > * + * {
  margin-bottom: var(--space-l);
}

.u-flow--s-m > * + * {
  margin-bottom: var(--space-s-m);
}
