.posts-feed h1 {
  margin-bottom: 0;
}

a {
  & .post-title {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 4px;
    text-underline-offset: 0;
    transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  }

  &:hover .post-title {
    text-decoration: underline;
    text-decoration-color: var(--links);
    text-decoration-thickness: 4px;
    text-underline-offset: 4px;
  }
}

.post-date {
  margin-left: var(--space-2xs);
  font-size: var(--step--1);
  font-style: italic;
  font-variant-caps: all-petite-caps;
  font-variation-settings: "wght" 300;
}

.posts-feed p {
  display: inline;
  font-style: italic;
}

.posts-feed .read-more-arrow,
.bundles-feed .read-more-arrow {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: var(--border-r-s);
  color: var(--links);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  vertical-align: text-bottom;

  &:hover {
    background-color: var(--links);
    box-shadow: var(--box-shadow-link-hover);
    color: var(--brown);
  }
}

.posts-feed .chevron {
  padding: 0;
  margin: 0;

  &:hover {
    stroke-width: 4;
  }
}
