/* resets */

* {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

::before,
::after {
  text-decoration: inherit;
  vertical-align: inherit;
}

html {
  cursor: default;
  height: 100%;
  line-height: 1.5;
  tab-size: 4;
  word-break: break-all;

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  min-height: 100%;
  text-rendering: optimizespeed;
}

img,
picture,
video,
canvas,
svg {
  max-width: 100%;
  height: auto;
  display: block;
}

svg:not([fill]) {
  fill: currentcolor;
}

input,
button,
textarea,
select {
  font: inherit;
}

a,
select:not(:disabled),
button:not(:disabled) {
  cursor: pointer;
}

/* from sanitize.css */

@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}
