/*
* Main stack
*/

.stack-2xl {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-2xl > * {
  margin-block: 0;
}

.stack-2xl > * + * {
  margin-block-start: var(--space-2xl);
}

/*
* Reg stacks
*/

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack > * {
  margin-block: 0;
}

.stack > * + * {
  margin-block-start: var(--space-xl);
}

/*
* Smaller stacks
*/

.stack-s {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-s > * + * {
  margin-block-start: var(--space-s);
}

/* Keeps first post closer to h1 */

.stack > h1 + * {
  margin-block-start: var(--space-m);
}

/*
* Smallest stacks
*/

.stack-2xs {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.stack-2xs > * {
  margin-block: 0;
}

.stack-2xs > * + * {
  margin-block-start: var(--space-3xs);
}
