@use "library" as *;

/*
* The switcher
*/

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s) var(--space-xl);
}

.switcher > * {
  min-width: fit-content;
  flex-basis: calc((48rem - 100%) * 999);
  flex-grow: 1;
}

.switcher > :nth-last-child(n + 7),
.switcher > :nth-last-child(n + 7) ~ * {
  flex-basis: 100%;
}

.switcher-feed {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-xl) var(--space-2xl)
}

.switcher-feed > * {
  flex-basis: calc((100rem - 100%) * 999);
  flex-grow: 1;
}

.switcher-feed > :nth-last-child(n + 3),
.switcher-feed > :nth-last-child(n + 3) ~ * {
  flex-basis: 100%;
}

.switcher-feed h1[role="recent-posts"] {
  min-width: 100%;
  margin-block-end: calc(-1 * var(--space-s));
}

.switcher-s {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-3xs) var(--space-s);
}

.switcher-s > * {
  min-width: fit-content;
  flex-basis: calc((5rem - 100%) * 999);
}

ul.switcher-s > :last-child {
  margin-bottom: var(--space-3xs);
}