/*
* The switcher
*/

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-s) var(--space-l);
}

.switcher > * {
  min-width: fit-content;
  flex-basis: calc((48rem - 100%) * 999);
  flex-grow: 1;
}

.switcher > :nth-last-child(n + 7),
.switcher > :nth-last-child(n + 7) ~ * {
  flex-basis: 100%;
}

.switcher-feed {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-l) var(--space-xl);
}

.switcher-feed > * {
  flex-basis: calc((100rem - 100%) * 999);
  flex-grow: 1;
}

.switcher-feed > :nth-last-child(n + 8),
.switcher-feed > :nth-last-child(n + 8) ~ * {
  flex-basis: 100%;
}

.switcher-feed h1 {
  min-width: 100%;
  box-shadow: 0 2px oklch(var(--grey));
}

.switcher-s {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-2xs) var(--space-s);
}

.switcher-s > * {
  min-width: fit-content;
  flex-basis: calc((5rem - 100%) * 999);
}

.switcher-s > :nth-last-child(n + 4),
.switcher-s > :nth-last-child(n + 4) ~ * {
  flex-basis: 100%;
}
