/*
* Links
*/
a {
  border-radius: var(--border-r-s);
  color: currentcolor;
  text-decoration: none;
  transition: var(--transition-standard);
}

nav a,
p a {
  border-radius: var(--border-r-s);
  color: oklch(var(--links));
}

nav a:hover,
p > a:hover {
  background-color: var(--links-hover);
  color: oklch(var(--text));
}

nav a:active,
p > a:active {
  background-color: var(--links-active);
  color: oklch(var(--text));
}

li:has(.is-active) {
  align-content: center;
  justify-content: center;
}

.is-active {
  background-color: var(--links-hover);
  color: oklch(var(--text));
}

.found-content {
  color: oklch(var(--links));
}

.missing-content {
  color: oklch(var(--red));
}

/*
* Headings
*/

h1[role="recent-posts"] {
  color: oklch(from oklch(30% 0.075 70) 63% .02 h);
}

h1,
h2,
h3,
h4,
h5,
h6,
nav li {
  line-height: 1.1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: oklch(var(--brown));
  font-weight: 500;
  letter-spacing: -0.015em;
}

h1 {
  font-size: var(--s2);
}

header h1 {
  margin-top: var(--space-s);
  font-size: var(--s4);
  font-weight: 600;
}

h1 a:hover,
h2 a:hover {
  background-color: var(--links-hover);
}

h2,
h3 {
  font-size: var(--s1);
}

h4,
h5,
h6 {
  font-size: var(--s0);
}

/*
* Paragraphs
*/

p {
  color: oklch(var(--text));
  font-family: Lora;
  font-size: var(--s0);
  font-weight: 425;
  hyphens: auto;
  line-height: calc(4px + 2ex + 4px);
}

.full-post {
  p,
  .footnotes hr {
  max-width: 66ch;
  margin-inline: auto;  
}
} 

/*
* Superscript
*/

sup {
  border-radius: var(--border-r-s);
  font-family: Lora, var(--fonts-standard);
  font-size: var(--s-2);
  font-weight: bold;
  line-height: 0;
  transition: var(--transition-standard);
  vertical-align: 0.558em;
}

sup:hover {
  background-color: var(--links-hover);
  color: oklch(var(--brown));
}

sup:hover a {
  color: oklch(var(--links));
}

sup:hover a {
  color: oklch(var(--brown));
}

/*
* Footnotes
*/

.footnotes > * + * {
  margin-block-start: var(--space-s);
}

.footnotes hr {
  margin-block-start: var(--space-xs);
  border-top-width: 0.07em;
  border-top-style: solid;
  color: oklch(var(--grey));
}

.footnote-backref {
  color: oklch(var(--links));
  text-decoration: none;
}

.footnotes ol {
  font-size: var(--s-1);
  list-style-position: inside;
  list-style-type: decimal;

  a {
    font-size: var(--s-1);
  }
}

/*
* Hashtags
*/

[role="hashtags"] {
  color: oklch(var(--links));
  font-size: var(--s-2);
  font-weight: 600;
  letter-spacing: 0.015em;
  text-transform: uppercase;

  &:hover {
    border-radius: var(--border-r-s);
    background-color: var(--links-hover);
    color: oklch(var(--brown));
  }
}

/*
* Blockquotes
*/

blockquote p {
  font-size: var(--s-1);
  margin-inline-start: var(--space-3xs);
}

blockquote {
  max-width: 90%;
  align-self: center;
  padding: var(--space-3xs-s);
  border-radius: var(--border-r-s);
  border-left: oklch(var(--links) / 72%) 3px solid;
  background-color: oklch(var(--links) / 18%);
}

/*
* ID numbers
*/

.id:hover::after {
  content: attr(aria-label);
}

/*
* Image captions
*/

figcaption {
  color: oklch(from oklch(30% 0.075 70) 63% .02 h);
  font-size: var(--s-1);
  font-style: italic;
}

/*
* Lists
*/
ul,
ol {
  padding-inline-start: 0;
}

:is(.meta) :is(ol, ul) {
  list-style-position: inside;
}

:is(.meta) :is(ol li) {
  list-style-type: lower-alpha;
}

:is(.meta) :is(ul li) {
  list-style-type: disc;
}

ol::marker,
li::marker {
  color: oklch(var(--links));
}

ol li ul li {
  margin-inline-start: 2em;
}

/*
* Breadcrumb styling https://dongheenam.info/posts/breadcrumb-navigation-in-hugo/
*/

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  list-style: none;
}

.breadcrumb li {
  display: inline;
  color: oklch(var(--text) / 99%);
  font-size: var(--s-2);
  font-weight: 600;
  text-transform: uppercase;
  white-space: nowrap;
}

.breadcrumb li + li::before {
  padding: 0.3rem;
  content: "/";
}
