/*
* Links
*/

a {
  color: var(--brown);
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.found-content {
  color: var(--links);
}

.missing-content {
  color: var(--red);
}

/*
* Headings
*/

h1 {
  margin: 0;
  font-size: var(--step-4);
  font-weight: 700;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--brown);
  line-height: 1;
}

h2,
h3 {
  margin-bottom: var(--space-xs-s);
  font-size: var(--step-2);
  font-weight: 600;
}

/*
* Paragraphs
*/

p {
  color: var(--brown);
  font-size: var(--step-0);
  font-weight: 375;
  hyphens: none;
  line-height: calc(4px + 2ex + 4px);
}

/*
* Superscript
*/

sup {
  font-family: "EBGaramondSC08", var(--fonts-standard);
  font-size: var(--step--1);
  line-height: 0;
  transition: 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
  vertical-align: super;
}

sup:hover {
  color: var(--links);
}

sup a {
  color: var(--links);
}

sup::before {
  content: "[";
  vertical-align: baseline;
}

sup::after {
  content: "]";
  vertical-align: baseline;
}

/*
* Footnotes
*/

.footnotes hr {
  border-top-width: 1px;
  border-top-style: solid;
  margin: var(--space-xs) 0;
  color: var(--brown-dark);
}

.footnotes p {
  font-size: var(--step--1);
}

.footnote-backref {
  color: var(--links);
}

/*
* Hashtags
*/

.tags {
  color: var(--brown);
  font-size: var(--step--1);
  font-variant-caps: all-small-caps;
  font-weight: 700;
  line-height: 1;

  &:hover {
    border-radius: var(--border-r-s);
    background-color: oklch(from var(--links) l c h / 30%);
  }
}

.hashtags:not(:first-child) {
  margin-left: var(--space-xs);
}
